@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	/* color: var(--foreground);
  background: var(--background); */
	font-family: 'Bebas Neue', sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.title {
	@apply font-raleway text-center;
}

.t-h1 {
	@apply md:text-3xl text-2xl font-semibold text-Green-100 uppercase;
}
.t-h3 {
	@apply md:text-lg text-base font-semibold text-Green-100 capitalize;
}
/* --primary: 0 0% 9%; */
/* --secondary-foreground: 0 0% 9%; */
/* --foreground: 0 0% 3.9%; */

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 60 11% 96%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 114 32% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0, 0%, 0%;
    --secondary-foreground: 215 20% 65%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
} */

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* SCROLL_BAR */
/* Hide the scrollbar track */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 6px;
}

/* Style the scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 6px;
}

/* On hover, style the scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #162c15;
}

/* FORM */
.form-input {
	@apply text-Black-100 h-11 focus-visible:ring-4 border focus-visible:ring-offset-2 ring-primary text-base rounded-none;
}

.form-label {
	@apply text-xs font-semibold uppercase text-Green-100;
}

.error_tag {
	@apply text-red-400 text-xs font-semibold font-raleway uppercase;
}

/* Calender */
.rdp-vhidden {
	display: none;
}

.rdp-dropdown_year > div,
.rdp-dropdown_month > div {
	display: none;
}

.rdp-caption_dropdowns {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.rdp-dropdown {
	@apply h-[26px] text-[#162C15] rounded-sm py-0.5 px-1 bg-[#EBEBE6] border border-[#162C15];
}
